*{
    color: rgb(229, 218, 238);
    box-sizing: border-box;
    font-family: 'Roboto';
    transition: all 0.4s;
}

:root{
    --special-text-color: rgb(209, 135, 252);
    --special-text-color-hover: rgb(197, 67, 236);
    --card-bg-color: #211855;
    --card-bg-color-hover: #3a2372;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf');
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e0f2b;
    overscroll-behavior: contain;
}

button{
    color: black;
}

.header{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
}

.header .links{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: 700;
}

.header .links .section-link{
    text-decoration: none;
    transition: all 0.1s;
}

.header .links .section-link:hover{
    color: var(--special-text-color);
    font-size: 1.04rem;
}

.header .languages{
    position: absolute;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    right: 0;
}

.languages .link{
    font-weight: 700;
    color: rgb(171, 171, 196);
}

.languages .pressed{
    color: rgb(222, 85, 250);
    text-decoration: underline;
}

.profile-image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(123, 52, 170);
    margin-top: 2rem;
    /* box-shadow: 0 0 5rem #741077; */
}

.profile-name{
    margin-bottom: 0.4rem;
}

.role-label{
    margin-top: 0;
    color: var(--special-text-color);
}

.social-links-row{
    margin-bottom: 3rem;
}

.social-link{
    font-weight: 700;
}

.image-row{
    display: flex;
    gap: 2rem;
}

.intro-text{
    width: 40rem;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0;
}

.small-space{
    height: 2rem;
}

.section-title{
    text-align: center;
    font-size: 2.4rem;
    margin: 2rem;
    margin-top: 5rem;
}


/* === PROJETOS === */

.projects{
    width: 72rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.project-tags-list{
    margin-bottom: 1.4rem;
}

.project-tags-list button{
    background-color: var(--special-text-color);
    border: none;
    padding: 0.4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.2s;
}

.project-tags-list .selected{
    background-color: rgb(64, 182, 218);
}

.project-tags-list button:hover{
    background-color: var(--special-text-color-hover);
}

.project-tags-list .left{
    border-radius: 0.6rem 0 0 0.6rem;
}

.project-tags-list .right{
    border-radius: 0 0.6rem 0.6rem 0;
}

.project-card{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22rem;
    height: 26.5rem;
    background-color: var(--card-bg-color);
    /* padding: 10px 25px; */
    padding-top: 0;
    padding-bottom: 1rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.project-card:hover{
    width: 23rem;
    /* padding: 1rem; */
    background-color: var(--card-bg-color-hover);
}

.project-img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.project-text{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    padding: 0.2rem 1rem;
}

.project-text h4{
    margin: 0.6rem 0;
    margin-bottom: 0.1rem;
}

.project-tags{
    display: flex;
    align-items: center;
    margin-top: auto;
    bottom: 0;
    gap: 0.5rem;
}

.tag{
    color: white;
    background: linear-gradient(to right, rgb(56, 62, 151), rgb(57, 131, 165));
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
    border: none;
}

.see-more-button{
    padding: 0.2rem 0.8rem;
    background-color: #00000000;
    color: var(--special-text-color);
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.see-more-button:hover{
    color: var(--special-text-color-hover);
    font-size: 15px;
}

.project-links-row{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    bottom: 0;
}

.project-info-dialog[open]{
    width: 44rem;
    /* height: 35rem; */
    max-height: 90%;
    padding: 1.6rem;
    background-color: #1e0f2b;
    /* border: 1px solid rgb(158, 221, 250); */
    border: none;
    border-radius: 1rem;
    transition: all 1s;
    overscroll-behavior: contain;
}

.project-info-dialog[open]::backdrop{
    transition: all 1s;
    background-color: rgba(20, 25, 51, 0.76);
}

.project-info-dialog[open] .project-link{
    color: var(--special-text-color);
}

.project-dialog-cover{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.project-dialog-cover h2{
    margin-top: 0;
}

.project-info-dialog .cover-image{
    height: 13rem;
    border-radius: 0.8rem;
}

.project-screenshots{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-screenshots button{
    width: 1.6rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    border: none;
}

.project-screenshot{
    height: 8rem;
    border-radius: 0.6rem;
}

#close-dialog-button{
    background-color: #3a2372;
    color: white;
    padding: 0.4rem;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 0.8rem;
}

.screenshot-view[open]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 26rem;
    padding: 0.5rem;
    background-color: #1e1731;
    border: 1px solid rgb(158, 221, 250);
    border-radius: 0.5rem;
}

.screenshot-view[open]::backdrop{
    transition: all 1s;
    background-color: rgba(17, 20, 39, 0.699);
}

.screenshot-view[open] img{
    width: 100%;
    border-radius: 0.3rem;
}

/* === FORMAÇÃO ACADÊMICA === */
.schools{
    display: flex;
    gap: 2rem;
}

.school-card{
    width: 30rem;
    background-color: var(--card-bg-color);
    padding: 1.6rem;
    border-radius: 1rem;
    transition: all 0.3s;
}

.school-card h3{
    margin-top: 0;
}

.school-card ul{
    margin-top: 0.4rem;
}

.school-card .school-place{
    color: rgb(18, 182, 204);
}

.school-card .stack-title{
    margin: 1rem 0 0 0;
}

.in-progress-label{
    margin: 0;
    margin-bottom: 0.6rem;
    color: var(--special-text-color)
}

/* .school-card:hover{
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--card-bg-color-hover);
} 
*/

.relation-project-container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.relation-project-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3a2372;
    padding: 0.3rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

.relation-project-card p{
    margin: 0;
}

.relation-project-card:hover{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* === CERTIFICADOS === */

.certificates{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.certificate-card{
    display: flex;
    align-items: center;
    width: 36rem;
    height: 100px;
    background-color: var(--card-bg-color);
    padding: 0.3rem 1.6rem;
    border-radius: 1.25rem;
    gap: 1.5rem;
}

.certificate-card .a{
    display: flex;
    gap: 1rem;
}

.certificate-card h5{
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
}

.certificate-img{
    height: 3.5rem;
}

.footer{
    height: 10rem;
}


/* === RESPONSIVO === */

@media (max-width: 1200px){
    .projects{
        width: 80%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }

    .intro-text{
        width: 85%;
    }

    .certificate-card{
        width: 27rem;
    }
}

@media (max-width: 1050px){
    .schools{
        flex-direction: column;
    }

    .certificates{
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate-card{
        width: 35rem;
    }
}

@media (max-width: 780px){
    .projects{
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
    }

    .certificates{
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate-card{
        width: 33.2rem;
    }

    .schools{
        flex-direction: column;
    }

    .project-dialog-cover{
        flex-direction: column;
    }

    .project-dialog-cover .cover-image{
        height: 14rem;
        width: fit-content;
    }
}

@media (max-width: 550px) {
    .header{
        flex-direction: column;
        gap: 0.3rem;
        height: 5rem;
        padding-left: 3rem;
        align-items: baseline;
    }

    .header .links{
        flex-direction: column;
        align-items: left;
        gap: 0.8rem;
    }

    .languages{
        margin-left: 0;
        right: auto;
        position: relative;
    }

    .projects{
        justify-self: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .project-row{
        flex-direction: column;
        gap: 0;
    }

    .certificate-card{
        width: 30rem;
    }
}
